%input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token}
  %input{:type => 'text', :name => 'username'} Username
  %br
  %input{:type => 'password', :name => 'password'} Password
  %br
  %input{:type => 'submit', :value => 'login!'}

